* {
  margin: 0;
  padding: 0;
  /* font-size: 0; */
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
}

.input {
  font-size: 0;
}

input[type="text"] {
  height: 50px;
  width: 490px;
  background: #e7e7e7;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  padding: 1em;
  margin-right: 10px;
}

input[type="submit"] {
  height: 50px;
  width: 200px;
  background: #e7e7e7;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  padding-left: 1em;
  padding-right: 1em;
}

.display {
  text-align: center;
  background: #e7e7e7;
  padding: 1em;
  width: 700px;
  margin: 30px auto;
}